.homework-section {
    padding: 1rem 0 1rem 0;
    display: flex;
    gap: .5rem;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8E6AD;
}