.button_component {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 20px 54px;
    background-color: #1F27F5;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
}

.button_component:hover {
    background-color: rgb(48, 56, 242);
}