.feedback {
    width: 435px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 15px;
}

.feedback-group {
    display: flex;
    gap: 5px;

}

.button-control {
    width: 50%;
}

.feedback-count-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 4px;
    background-color: cadetblue;
}

.feedback-count {
    font-size: 25px;
    font-weight: 400;
    color: white;
}