.card {
    width: 640px;
    background-color: #ADD8E6;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    border: 1px solid rgba(10, 10, 250, 0.1);
    box-shadow: 10px 10px 10px rgba(10, 10, 250, 0.1);
    border-radius: 1.5rem;
}

.card-image {
    display: block;
    width: 100%;
}

.card-text {
    font-size: 1.3rem;
}

.card-text span {
    font-weight: bold;
}

.col-6 {
    width: 50%;
}

.v-stack {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}