.card {
    width: 640px;
    background-color: #ADD8E6;
    display: flex;
    gap: 16px;
    padding: 32px;
    border: 1px solid rgba(10, 10, 250, 0.1);
    box-shadow: 10px 10px 10px rgba(10, 10, 250, 0.1);
    border-radius: 24px;
}

.card-image {
    display: block;
    width: 100%;
}

.card-text {
    font-size: 21px;
}

.card-text span {
    font-weight: bold;
}

.card-image-wrapper {
    width: 50%;
}

.card-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}