form {
    width: 590px;
    height: 450px;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 60px;
}

.form-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 30px;
}